[init]
	defaultBranch = main
[user]
	name = odin
	email = collab@elysiummachines.com 
	signingkey = /home/llmbox/.ssh/id_ed25519.pub
[core]
	editor = code --wait
	autocrlf = input
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = "code --wait --diff $LOCAL $REMOTE" 
[gpg]
	format = ssh
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true